                    <table class="table">
                    <thead>
                        <tr>
                            <th>Profissional</th>
                            <th>Cargo</th>
                            <th>Celular</th>
                            <th>E-Mail</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_agendaprofissional item="linha"}  
                            <tr>
                                <td>{$linha.dsProfissional}</td> 
                                <td>{$linha.dsCargo}</td> 
                                <td>{$linha.dsCelular}</td> 
                                <td>{$linha.dsEmail}</td> 
                                <td> 
                                    <a class="glyphicon glyphicon-trash" title ="Excluir" onclick="delcolaborador({$linha.idProfissional});" > Excluir </a>
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>

