        <!--Altere daqui pra baixo-->
        <h3>Lista de receitas digitadas hoje</h3>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Receita</th>
                    <th>Cliente</th>
                    <th>Observacao</th>
                    <th>Valor</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$receitas item="linha"}  
                <tr>
                    <td>{$linha.dtFinanceiro|date_format:'%d/%m/%Y'|default:Date("d/m/Y")}</td>
                    <td>{$linha.dsReceita|default:''}</td> 
                    <td>{$linha.dsCliente|default:''}</td> 
                    <td>{$linha.dsObservacao|default:''}</td> 
                    <td>R$ {$linha.vlFinanceiro|default:''}</td> 
                    <td><a class="glyphicon glyphicon-trash" href="/lancarreceita/delreceita/idFinanceiro/{$linha.idFinanceiro}">  Excluir</a></td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
