{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <br>
        <h1>Lista de Tratamentos</h1>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-tratamento" action="/tratamento/busca_tratamento" method="POST" enctype="multipart/form-data">
                    Descrição:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/tratamento/novo_tratamento"> Novo Tratamento</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome do Tratamento</th>
                    <th>Tipo de Tratamento</th>
                    <th>Valor</th>
                    <th>Tempo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$tratamento_lista item="linha"}  
                <tr>
                    <td><a href="/tratamento/novo_tratamento/idTratamento/{$linha.idTratamento}">{$linha.idTratamento}</a></td>
                    <td>{$linha.dsTratamento}</td> 
                    <td>{$linha.dsTipoTratamento}</td> 
                    <td>{$linha.vlTratamento}</td> 
                    <td>{$linha.dsTempo}</td> 
                    <td><a class="glyphicon glyphicon-pencil" href="/tratamento/novo_tratamento/idTratamento/{$linha.idTratamento}">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/tratamento/deltratamento/idTratamento/{$linha.idTratamento}">  Excluir</a></td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
